#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

#define IDI_ICON1                               100

//
// Icon resources
//

LANGUAGE 0, SUBLANG_NEUTRAL
IDI_ICON1          ICON           "querycsv.ico"