html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family:sans-serif;
  font: inherit;
  vertical-align: baseline;
  max-height:999999px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre {
  font-family:monospace;
}


/**************************
end of css reset
**************************/

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@font-face {
  font-family: 'querycsvIcons';
  src: url('fonts/icomoon.eot'); /* IE9 Compat Modes */
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/icomoon.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

a, button, input[type='file'] {
  cursor:pointer;
  white-space:nowrap;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display:none;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  display:block;
}

.no-js body {
  overflow: auto;
}

.pt-page-ontop {
  z-index: 999;
}

html, body {
  height:100%;
}

body,ul,li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 2px solid #48d;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: right;
  white-space:nowrap;
  font-weight: bold;
  box-shadow: 0 3px 10px 0 rgba(170, 170, 170, 0.3);
}

.header button {
  color:inherit;
}

.header,
#alt,
.header #alt .iconGroup .icon,
#cancelButton,
#saveButton {
  background: #fff;
}

.header .icon,
.backButton,
#cancelButton,
#saveButton {
  height:58px;
}

.header,
.backButton,
#cancelButton,
#saveButton {
  line-height:58px;
}

#wrapper2,
.wrapper3 {
  top: 60px;
}

.icon {
  font-family:'querycsvIcons';
  font-size: 26px;
  font-weight:normal;
  color:#777;
}

.header .icon {
  text-align:center;
  padding:0;
  display:inline-block;
  font-family:'querycsvIcons';
  border:0;
  background: transparent;
  position:relative;
  vertical-align:top;
}

.header .icon,
.header .icon2 {
  color:#606060;
}

.header #alt .icon {
  width:12%;
  max-width:75px;
}

.header #normal .icon {
  width:15%;
}

#alt {
  display:none;
  padding-right:10px;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transition:opacity .1s ease-out;
}

#normal {
  text-align:center;
}

.header #alt .iconGroup {
  display: inline-block;
  height: 43px;
  max-width: 75px;
  position: relative;
  width: 12%;
}

.header #alt .iconGroup .icon {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.header .icon2 {
  font-family:'querycsvIcons';
  font-size: 37px;
  font-weight:normal;
  vertical-align:bottom;

}

.header .icon.upload:before {
  content: "\e902";
}

.header .icon.upload span {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
  top:0;
  left:0;
  overflow:hidden;
}

.header .icon.upload span input {
  font-size:10000px;
  position:absolute;
  top:-5px;
  left:-5px;
}

#footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  padding: 0;
}

.wrapper {
  position: absolute;
  z-index: 1;
  top: 110px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
  display:none;
}

.wrapper3 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right:0;
  overflow: hidden;
  padding:5px 14px;
  margin:0;
}

.scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.scroller li {
  border-bottom: 1px solid #e0e0e0;
  position:relative;
  height:63px;
  width:100%;
}

.scroller li .icon {
  position:absolute;
  top:7px;
  left:10px;
  font-family:'querycsvIcons';
  font-size: 48px;
  line-height:initial;
  color:#777;
  vertical-align:middle;
  display:block;
}

#wrapper2 {
  background: #ddd;
  box-shadow: 0 -3px 8px 0 rgba(170, 170, 170, 0.2) inset;
  height: 45px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#scroller2 {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
  min-width:100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  border-bottom: 2px solid #ccc;
}

#scroller2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  white-space:nowrap;
}

#scroller2 .icon {
  font-size:24px;
}

#scroller2 li:first-child {
  margin-left: 5px;
}

#scroller2 li {
  display: inline-block;
  height: 100%;
  font-size: 14px;
  margin-right: 5px;
  padding:6px 0 0;
  vertical-align:middle;
  text-align:center;
  line-height:41px;
  color: #555;
  font-weight:bold;
}

#scroller2 li.active {
  padding-top:4px;
}

#scroller2 li button {
  background:#eee;
  border:2px solid #ccc;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  color:#000;
  width:100%;
  height:100%;
  margin:0;
  padding:2px 10px 0;
  font-size:14px;
  display:block;
}

.scroller li button * {
  transition: color .1s ease-in;
}

.scroller li button {
  background:#fff;
  border:0;
  color:inherit;
  width:100%;
  height:100%;
  margin:0;
  text-align:left;
  font-size:inherit;
  line-height: 22px;
  font-size: 14px;
  padding:0 15px 0 67px;
  transition: background .1s ease-in;
}

#scroller2 li.active button {
  margin-top:2px;
  padding-top:0;
  background:#fff;
}

.ActionWrapper {
  text-align:center;
}

.ActionWrapper div {
  position:absolute;
  top:40%;
  transform: translate(0,-40%);
  width:100%;
}

.fileAction {
  display: inline-block;
  position:relative;
  font-size: 16px;
  background:none!important;
  border:none;
  padding:0!important;
  height: 90px;
  width: 100px;
  color:inherit;
  text-decoration:none;
  vertical-align:middle;
  margin-bottom:20px;
  font-family:sans-serif;
}

.fileAction > span {
  bottom: 0;
  display: block;
  left: 0;
  line-height: 1px;
  margin: 78px 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fileAction .icon {
  font-size: 65px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.wrapper3 h2 {
  width: 100%;
  font-size: 14px;
  font-weight:bold;
  margin: 0 0 10px;
  border-bottom: 2px solid #ccc;
  padding: 7px 7px 6px;
  color:#333;
}

.wrapper3 label {
  width: 100%;
  font-size: 18px;
  padding: 3px 22px 7px 7px;
  display:inline-block;
  color:#333;
}

#editor .mess {
  border: 0;
  font-family: monospace;
  font-size: 12px;
  height: 100%;
  line-height: 15px;
  margin: 0;
  resize: none;
  min-width:100%;
  white-space: pre;
  overflow:hidden;
}

#editor .mess .wtf:before {
  content:'.';
  display:block;
  height:1px;
  overflow:hidden;
}

.wrapper3 select {
  width: 100%;
  font-size: 14px;
  padding: 0 8px 5px;
  background:transparent;
  border: 0 !important;  /*Removes border*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow:'';
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
}

@-moz-document url-prefix() {
  .wrapper3 select {
    color: transparent;
    text-shadow: 0 0 0 #333;
  }
}

.wrapper3 hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: 0;
}

.reverse {
  position:relative;
  margin-bottom:9px;
}

.reverse span {
  font-size: 14px;
  margin-left: 7px;
  margin-right:35px;
  display:inline-block;
}

input[type=radio],
input[type=checkbox] {
  right: 4%;
  position: absolute;
  top: 50%;
  transform: translate(-3px, -50%);
  z-index:1;
  margin:0;
}

input[type=radio] + label,
input[type=checkbox] + label {
  cursor: pointer;
}

@media (min-width: 1px) {
  input[type=radio],
  input[type=checkbox] {
    opacity: 0;
  }

  input[type=radio] + label::before,
  input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    right: 4%;
    top:50%;
    transform: translate(0px, -50%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    background: #FFF;
  }

  input[type=radio] + label::before {
    border: 2px solid #ccc;
    border-radius: 30px;
  }

  input[type=checkbox] + label::before {
    border: 2px solid #ccc;
  }

  input[type=radio]:checked + label::after,
  input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    right: 4%;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }

  input[type=radio]:checked + label::after {
    width: 8px;
    height: 8px;
    margin: 2px -1px 0 0;
    background: #139dea;
    border-radius: 8px;
  }

  input[type=checkbox]:checked + label::after {
    right: 4%;
    width: 16px;
    height: 8px;
    margin: -7px -2px 0 0;
    border-left: 3px solid #48d;
    border-bottom: 3px solid #48d;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.currentFolder {
  display:block;
}

.backButton {
  float:left;
  background:transparent;
  border:0;
}

#editor .scroller,
#console .scroller {
  will-change: transform, contents, scroll-position;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  background: #fff;
}

#editor textarea,
#editor span {
  position:absolute;
  font-family: monospace;
  font-size: 14px;
  height: 0;
  width:0;
  line-height: 17px;
  margin: 0;
  padding:0;
  border: 0;
  overflow: hidden;
  white-space: pre;
  display:block;
  background:#fff;
  box-sizing:border-box;
}

#editor textarea {
  position:static;
  width:100%;
  height:100%;
  padding:10px;
  resize: none;
}

#console .pre {
  box-sizing:border-box;
  display:block;
  padding:10px;
  position:static;
  background: #000;
  color: #ccc;
  font-family: monospace;
  font-size: 14px;
  line-height: 15px;
  min-width:100%;
  min-height:100%;
  float:left;
}

.ActionWrapper .saveDialog {
  background:#fff;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:10px;
  transform:none;
  text-align:center;
  font-size:16px;
  line-height:20px;
  display:none;
}

.backButton,
#cancelButton,
#saveButton {
  font-size: 20px;
}

#cancelButton,
#saveButton {
  border: 0 none;
  position:absolute;
  top:0;
  right:0;
}

#saveButton {
  padding-right:20px;
}

#cancelButton {
  display:none;
}

.scroller li button.longTapping {
  transition:none;
  animation: flash2 .45s ease-in;
}

.scroller li button.longTapping * {
  transition: color .45s ease-in;
  color:#fff;
}

.scroller li button.pushed {
  background:#ededed;
}

.scroller li button.selected {
  background:#48d;
}

.scroller li button.pushed.selected {
  background:#37c;
}

.scroller li button.selected * {
  color:#fff;
}

@keyframes flash2 {
  100% { background:#48d; }
}
